/*CSS for landing page*/
header{
  font-size: 18px;
  padding-left: 10%;
  padding-top: 100px;
}
#links{
  padding-top: 5px;
  
}
#links a{
  font-size: 100px;
  line-height: 200%;
}

/*Css for about page*/
.blurb{
  padding-left: 10%;
  padding-right: 2%;
  font-weight: 800;
  top: 30%;
}

.blurb h1{
  font-size: 70px;
}

.blurb p{
  font-size: 20px;
}
.blurb span{
  font-size: 40px;
}
.about{
  padding-left: 10%;
  padding-top: 2%;
  letter-spacing: 3.5em;
}
.about h2{
  font-weight: 600;
  font-size: 70px;
  line-height: 170%;
}

.about span{
  font-size: 50px;
  cursor: pointer;
}

/*Css for resume page*/

#sec1, #sec3{
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 2%;
  color: white;
}
#sec2{
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 5%;
  color: black;
}
#sec1 h1, #sec2 h1, #sec3 h1{
  font-size: 50px;
}
#sec1 p, #sec2 p, #sec3 p{
  font-size: 20px;
  letter-spacing: 1em;
}

/*Css for contact page*/
form{
  width:350px;
  line-height:7vh;
}
.c1, .c2, .c3, .c4{
  font-size: 70px;
  letter-spacing: 20px;
}
input[type=text],input[type=email],textarea[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
}
input[type=submit] {
  padding: 12px 20px;
  margin: 8px 0;
  font-size:18px;
}
::placeholder{
  font-size:12px;
}
.error{
  font-size: 12px;
}